{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}">
{% endblock css %}

{% block title %}
    Sign-In
{% endblock title %}

{% block content %}

    {% get_providers as socialaccount_providers %}

    {% block navbar %}
    {% endblock navbar %}

        <section class="vh-100">
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100 main-container">
                <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="{% static '/img/vote.jpeg' %}"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form class="login signin_form" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <label for="id_login" class="form-label">Email address</label>
                          <input name="login" type="email" id="id_login" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" required/>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                          <label class="form-label" for="id_password">Password</label>
                          <input type="password" id="id_password" class="form-control form-control-lg"
                            placeholder="Enter password" name="password" required/>
                        </div>
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                          <button class="primaryAction btn btn-primary btn-lg signin-btn" type="submit">{% trans "Sign In" %}</button>
                          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </form>
                    <p class="signup-container">If you have not created an account yet, then please
                        <a class="sign-up-btn" href="{{ signup_url }}">Sign Up</a> first.
                    </p>
                </div>
              </div>
            </div>
          </section>
{% endblock content%}
