
#one {
    position: relative;
    margin-top: 10%;
    background: #fff;
    border: 2px solid #055388;
    padding: 6px;
    font-size: 0.9em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    color: #055388;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 5px;

}

      body {
        background-image: url("/static/img/main-bg.jpeg");
        background-size: cover;
        /*background-position: center center;*/
        background-repeat: no-repeat;
      }
      #header {
        background-color: #008000;
        color: #ffffff;
        padding: 20px;
        text-align: center;
      }
      #main {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      #card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        margin-bottom: 20px;
        padding: 20px;
        width: calc(33% - 20px);
      }
      h1, h2 {
        margin-top: 0;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style-type: none;
        margin-bottom: 10px;
      }
      a {
        color: #008000;
        text-decoration: none;
      }
      input[type="submit"] {
        background-color: #008000;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
      }
      input[type="submit"]:hover {
        background-color: #006400;
      }