.main-container{
    margin-top: 80px;
}
body{
    /*background: url("/static/img/voting-hands.jpeg");*/
    background-color: white;
}
.secondaryAction{
    color: darkgreen;
    text-decoration: none;
}

/*.signup-container{*/
/*    color: white;*/
/*}*/
.sign-up-btn{
    color: darkgreen;
    text-decoration: underline;
}
.signin-btn {
    background-color: #023020;
    border-color: #023020;
}