{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}"/>
{% endblock css %}

{% block content %}
    {% block navbar %}
    {% endblock navbar%}
    <div id="header">
        <h1>Voter Profile</h1>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <input type="submit" value="Logout">
        </form>
    </div>
    <div id="main">
      <div id="card">
        <h2>My Profile</h2>
        <p>Name: {{ request.user.username }}</p>
        <p>Email: {{ request.user.email }}</p>
          <div class="col-12 d-flex p-0">
{#            <a class="col-6 text-left p-0" href="#">Edit Profile</a>#}
            <form class="text-right p-0">
                <a id="one" href="/site/candidates">Vote</a>
            </form>
          </div>
      </div>

      <div id="card">
        <h2>My Voting History</h2>
        <p>2018 General Election - Voted</p>
        <p>2020 Primary Election - Voted</p>
        <p>2020 General Election - Did not vote</p>
      </div>


    </div>
{% endblock %}