{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}"/>
{% endblock css %}

{% block content %}
    <section>
        <div class="container">
            <p>"Our political leaders will know our priorities only
                if we tell them, again and again, and if those
                priorities begin to show up in the polls."
            </p>
            <h1>Vote For Pakistan </h1>
{#            {{ content }}#}

            <div class="row no-gutters">
                <div class="col-lg-5 col-md-5 col-12">
                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                        <button class="btn btn-info btn-lg" type="submit">
                            <span class="glyphicon glyphicon-log-out"></span>Logout
                        </button>
                    </form>
                </div>
                <div class="col-lg-7 col-md-7 col-12">
                    <a id="one" href="candidates">Vote</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}