{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="thankyou_page.css">
{% endblock css %}

{% block title %}
    Thank You For Voting
{% endblock title %}


{% block content %}
    {% block navbar %}
    {% endblock navbar %}
    <div class="container">
        <h1>Thank You For Voting!</h1>
        <p>Your vote has been recorded. We appreciate your participation in this election.</p>
        <p>Stay tuned for the results!</p>
    </div>

{#    <a class="sign-in" href="/user/login">Please LogIn to continue</a>#}
{% endblock content%}